azure-common==1.1.23
azure-graphrbac==0.61.1
azure-mgmt-authorization==0.60.0
azure-mgmt-containerregistry==2.8.0
azure-mgmt-keyvault==2.0.0
azure-mgmt-resource==7.0.0
azure-mgmt-storage==7.0.0
azureml==0.2.7
azureml-automl-core==1.0.76
azureml-automl-runtime==1.0.76.1
azureml-core==1.0.76
azureml-dataprep==1.1.33
azureml-dataprep-native==13.1.0
azureml-defaults==1.0.76
azureml-explain-model==1.0.76
azureml-interpret==1.0.76
azureml-model-management-sdk==1.0.1b6.post1
azureml-pipeline==1.0.76
azureml-pipeline-core==1.0.76
azureml-pipeline-steps==1.0.76
azureml-sdk==1.0.76
azureml-telemetry==1.0.76
azureml-train==1.0.76
azureml-train-automl==1.0.76
azureml-train-automl-client==1.0.76
azureml-train-automl-runtime==1.0.76.1
azureml-train-core==1.0.76
azureml-train-restclients-hyperdrive==1.0.76
pandas==0.25.3
scikit-image==0.16.2
scikit-learn==0.20.3